body {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #e7eff5;


}

.container {
     text-align: center;
}

.container h2 {

     background-color: #222;
     color: white;
     padding: 10px;
     border-radius: 5px;
     margin-bottom: 25px;
     font-size: 25px;

}

.color {
     color: lightskyblue;
}

.btn {
     background-color: transparent;
     padding: 10px;
     text-align: center;
     border: 2px solid black;
     border-radius: 5px;
     font-size: 15px;
     letter-spacing: 1.5px;
     color: #222;
     outline: none;
     cursor: pointer;

}

.btn:hover{
     background-color: #222;
     color: white;
}